.container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    max-width: 1240px;
    margin: 15px auto;
    padding-left: 20px;
}

.movieContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    font-weight: 600;
}

.favorites {
    border: 1px solid black;
    cursor: pointer;
}

.title {
    font-size: 25px;
}

.poster {
    width: 300px;
}